services:
  api:
    user: "${UID}:${GID}"
    build:
      context: .
      dockerfile: docker/Dockerfile
    env_file:
      - .env
      - .env.app
    ports:
      - "8000:8000"
    volumes:
      - ./app:/app/app
      - ./tests:/app/tests
      - ./alembic:/app/alembic
      - ./alembic.ini:/app/alembic.ini
    depends_on:
      - db
      - db_test

  
  db:
    image: postgres:16
    environment:
      POSTGRES_DB: training
      POSTGRES_USER: training_user
      POSTGRES_PASSWORD: training_password
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data


  db_test:
    image: postgres:16
    environment:
      POSTGRES_DB: training_test
      POSTGRES_USER: training_user
      POSTGRES_PASSWORD: training_password
    ports:
      - "5433:5432"
    tmpfs:
      - /var/lib/postgresql/data


volumes:
  postgres_data:
